$height-width--initial: 300px;
$margin--initial: 25px;
$border-radius--initial: 8px;

$font-stack: Helvetica, sans-serif;
$font-size--initial: $height-width--initial - 50px;

.scss-layout__item {
    min-height: $height-width--initial;
    min-width: $height-width--initial;
    border-radius: $border-radius--initial;
    background: coral;
    margin: $margin--initial;
    text-align: center;
    font-size: $font-size--initial;
    font-weight: 600;
    font-family: $font-stack;
}

@mixin hover-transform($transform-property) {
    transform: $transform-property;
    box-shadow: 0 0 45px 0;
    transition-duration: .40s;
}

.scss-layout__item:hover {
    @include hover-transform(scale(1.05, 1.05));
    @include hover-transform(rotate(3deg));
}

.scss-layout__item:not(:hover) {
    transition-duration: .40s;
}

@media only screen and (max-width:1200px) {
    .scss-layout__item {
        min-width: calc(#{$height-width--initial} - 30px);
        min-height: calc(#{$height-width--initial} - 30px);
        border-radius: calc(#{$border-radius--initial} - 1px);
        font-size: calc(#{$font-size--initial} - 30px);
    }
}

@media only screen and (max-width:1024px) {
    .scss-layout__item {
        min-width: calc(#{$height-width--initial} - 60px);
        min-height: calc(#{$height-width--initial} - 60px);
        border-radius: calc(#{$border-radius--initial} - 2px);
        font-size: calc(#{$font-size--initial} - 50px);
    }
}

@media only screen and (max-width:768px) {
    .scss-layout__item {
        min-width: calc(#{$height-width--initial} - 90px);
        min-height: calc(#{$height-width--initial} - 90px);
        border-radius: calc(#{$border-radius--initial} - 3px);
        font-size: calc(#{$font-size--initial} - 75px);
    }
}

@media only screen and (max-width:375px) {
    .scss-layout__item {
        min-width: calc(#{$height-width--initial} - 120px);
        min-height: calc(#{$height-width--initial} - 120px);
        border-radius: calc(#{$border-radius--initial} - 4px);
        font-size: calc(#{$font-size--initial} - 100px);
    }
}