.body {
    ul {
        color: rebeccapurple;
    };
    
    a {
        color: aliceblue;
    };
    
    li {
        color: aliceblue;
    };
    h1 {
        color: red;
        padding: inherit;
    }
}